{% extends 'base.html'%}
{%block content%}

    {%if user.is_authenticated%}
    안녕하세요 {{user.location}}에 사는 {{user.university}}에 다니는 {{user.nickname}}님
    {%endif%}
    <a href="?search=true&writer={{user.nickname}}">내가 쓴 글</a>
    <h1>Blog project</h1>
    <div>
    </div>
    {%for blog in blogs%}
        <div>
        <h3>{{blog.title}}</h3>
        {{blog.writer}}
        {{blog.summary}} 
        <br>
        <button type="button" class="btn btn-default">
        <a href="{%url 'detail' blog.id%}">DETAIL</a>
        </button>
        <br>
        </div>
    {%endfor%}
   
    {%if blogs.has_previous%}
    <a href="?page=1">처음</a>
    <a href="?page{{blogs.previous_page_number}}">이전</a>
    {%endif%}

    </span>{{blogs.number}}</span>
    </span>of</span>
    </span>{{blogs.paginator.num_pages}}</span>

    {%if blogs.has_next%}
    <a href="?page={{blogs.next_page_number}}">다음</a>
    <a href="?page{{blogs.paginator.num_pages}}">마지막</a>
    {%endif%}
{%endblock%}